@import "./base.css";

/* -------------------------------*/
/*Banner                          */
/* -------------------------------*/



body {
    background-color: var(--app-dark-bg);
}

h1 {
    color: green;
}

.inputSection {
    margin-top: 55px;
}

.flex {
    display: flex; 
}

.movie-div {
    display: flex;
    width: 60%;
    border-radius: 10px;
    background-color: var(--app-white);
    border-radius: 10px;
}
.city-div {
    display: flex;
    width: 23%;
    border-radius: 10px;
    background-color: var(--app-white);;
    border-radius: 10px;
}
.search-icon {
    background-color: var(--app-white);
    width: 5%;
    border-radius: 10px 0 0 10px;
    display: grid;
    align-items: center;
    height: 100%;
}
.movie-div + .city-div {
    margin-left: 10px;
}
i {
    color: #fff;
    text-align: center;
    width: 10px;
    font-size: 15px;
    padding: 0px 11px;
}

.location {
    background-color: var(--app-white);
    width: 15%;
    border-radius: 10px 0 0 10px;
    display: grid;
    align-items: center;
    height: 100%;
}

.movie-input {
    width: 100%;
    padding: 3px;
    font-weight: 600;
    border-radius: 0 10px 10px 0;
    color: #fff;
    text-align: left;
    background: var(--app-white);;
    background-size: 15px;
    transition: border-color 0.25s ease-in-out;
}

.movie-div:hover {
    border: 1px solid var(--app-green);
}

input+input {
    margin-left: 7px;
}

.city-div + .search {
    margin-left: 10px;
}

.city-input {
    width: 100%;
    font-weight: 600;
    color: #fff;
    border-radius: 0 10px 10px 0;
    text-align: left;
    background: var(--app-white);;
    background-size: 15px;
    transition: border-color 0.25s ease-in-out;
}
.city-div:hover {
    border: 1px solid var(--app-green);
}


.search {
    font-size: 15px;
    display: inline-block;
    list-style: none;
    text-align: center;
    line-height: 40px;
    width: 15%;
    border-radius: 10px;
    border: 1px solid --app-green;
    background-color: var(--app-green);
    color: #fff;
    cursor: pointer;
}

.search:hover {
    background-color: var(--app-green-hover);
}

h2 {
    margin-top: 40px;
    color: #fff;
}

.movieBox {
    margin-top: 40px;
    font-size: 14px;
    width: 200px;
    height: 300px;
}

.movieImg {
    width: 100%;
    border-radius: 10px;
}

.movieSection {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 20px;
}

.movieTitle {
    color: #d3d3d3;
    font-weight: bold;
    margin-top: 10px;
    font-size: 15px;
}

.parent {
    display: flex;
}
.movie-list-box  {
    position: absolute;
    background-color: #262933;
    border-radius: 10px;
    width: 400px;
}
.movie-list-box div {
    position: relative;
    line-height: 39px;
    color: #262933;
    border-radius: 10px;
    padding: 0px 11px;
    display: block;
    color: #fff;
    font-size: bold;
}
.movie-list-box div:hover {
    background-color: var(--app-green);
}
.city-list-box {
    position: absolute;
    margin-left: 837px;
    background-color: #262933;
    border-radius: 10px;
    margin-top: 1px;
    width: 320px;
}
.city-list-box div {
    line-height: 39px;
    color: #262933;
    border-radius: 10px;
    padding: 0px 11px;
    display: block;
    font-size: bold;
    color: #fff;
}

.city-list-box div:hover {
    background-color: var(--app-green);
}


